<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>.checked {color: lawngreen;}</style>
</head>
<body>
<div class="container">
    {% block main %}
    {% endblock %}

    {% block detail %}
    {% endblock %}

    {% block login %}
    {% endblock %}

    {% block update_book %}
    {% endblock %}

    {% block register %}
    {% endblock %}
</div>
</body>
</html>